header{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    background-color: black;
}
header nav ul{
    margin-left: 170vh;
    display: flex;
    gap: 30px;
        
}
header ul li{
    list-style: none;
    
}
a{
    text-decoration: none;
    justify-content: space-between;
    display: flex;
    color: white;
    

}
a:hover{
    color: red;
}